/* utilities */
/* breakpoint:property */
/* should use !important */
/* @see https://tailwindcss.com/ */

/* ------------- */
/* display none  */
/* ------------- */
.hidden {
  display: none !important;
}

.xs\:hidden {
  @media (--xs) {
    display: none !important;
  }
}

.sm\:hidden {
  @media (--sm) {
    display: none !important;
  }
}

.md\:hidden {
  @media (--md) {
    display: none !important;
  }
}

/* ------------- */
/* display block */
/* ------------- */
.block {
  display: block !important;
}

.xs\:block {
  @media (--xs) {
    display: block !important;
  }
}

.sm\:block {
  @media (--sm) {
    display: block !important;
  }
}

.md\:block {
  @media (--md) {
    display: block !important;
  }
}
